.icon-blank{
	background:url(../../image/sysimages/easyui/blank.gif) no-repeat center center;
}
.icon-add{
	background:url(../../image/sysimages/easyui/edit_add.png) no-repeat center center;
	width:15px; height:15px;
	left:10px!important;
}
.icon-edit{
	left:6px!important;
	background:url(../../image/sysimages/easyui/edit_icon.png) no-repeat center center;
}
.icon-clear{
	background:url(../../image/sysimages/easyui/clear.png) no-repeat center center;
}
.icon-remove{
	background:url(../../image/sysimages/easyui/edit_remove.png) no-repeat center center;
}
.icon-save{
	background:url(../../image/sysimages/easyui/filesave.png) no-repeat center center;
}
.icon-loadData{
	background:url(../../image/sysimages/easyui/loadData.png) no-repeat center center;
}
.icon-look{
	background:url(../../image/sysimages/easyui/loadData.png) no-repeat center center;
}

.icon-Recovery{
	background:url(../../image/sysimages/easyui/recover.png) no-repeat center center;
}
.icon-setpassword{
	background:url(../../image/sysimages/easyui/resetpassword.png) no-repeat center center;
	}
.icon-hidehasdelete{
	background:url(../../image/sysimages/easyui/hidehasdelete.png) no-repeat center center;
	}
.icon-cut{
	background:url(../../image/sysimages/easyui/cut.png) no-repeat center center;
}
.icon-ok{
	background:url(../../image/sysimages/easyui/ok.png) no-repeat center center;
}
.icon-no{
	background:url(../../image/sysimages/easyui/no.png) no-repeat center center;
}
.icon-cancel{
	background:url(../../image/sysimages/easyui/cancel.png) no-repeat center center;
}
.icon-reload{
	background:url(../../image/sysimages/easyui/reload.png) no-repeat center center;
}
.icon-search{
	background:url(../../image/sysimages/easyui/search.png) no-repeat center center;
}
.icon-print{
	background:url(../../image/sysimages/easyui/print.png) no-repeat center center;
}
.icon-help{
	background:url(../../image/sysimages/easyui/help.png) no-repeat center center;
}
.icon-undo{
	background:url(../../image/sysimages/easyui/undo.png) no-repeat center center;
}
.icon-redo{
	background:url(../../image/sysimages/easyui/redo.png) no-repeat center center;
}
.icon-back{
	background:url(../../image/sysimages/easyui/back.png) no-repeat center center;
}
.icon-sum{
	background:url(../../image/sysimages/easyui/sum.png) no-repeat center center;
}
.icon-tip{
	background:url(../../image/sysimages/easyui/tip.png) no-repeat center center;
}
.icon-filter{
	background:url(../../image/sysimages/easyui/filter.png) no-repeat center center;
}
.icon-man{
	background:url(../../image/sysimages/easyui/man.png) no-repeat center center;
}
.icon-lock{
	background:url(../../image/sysimages/easyui/lock.png) no-repeat center center;
}


.icon-mini-add{
	background:url(../../image/sysimages/easyui/mini_add.png) no-repeat center center;
}
.icon-mini-edit{
	background:url(../../image/sysimages/easyui/mini_edit.png) no-repeat center center;
}
.icon-mini-refresh{
	background:url(../../image/sysimages/easyui/mini_refresh.png) no-repeat center center;
}

.icon-large-picture{
	background:url(../../image/sysimages/easyui/large_picture.png) no-repeat center center;
}
.icon-large-clipart{
	background:url(../../image/sysimages/easyui/large_clipart.png) no-repeat center center;
}
.icon-large-shapes{
	background:url(../../image/sysimages/easyui/large_shapes.png) no-repeat center center;
}
.icon-large-smartart{
	background:url(../../image/sysimages/easyui/large_smartart.png) no-repeat center center;
}
.icon-large-chart{
	background:url(../../image/sysimages/easyui/large_chart.png) no-repeat center center;
}
.icon-sptg{
	background:url(../../image/sysimages/easyui/sp_06.png) no-repeat center center;
}

.icon-spbtg{
	background:url(../../image/sysimages/easyui/nopass.png) no-repeat center center;
}

.icon-Physicallydelete{
	background:url(../../image/sysimages/easyui/sp_03.png) no-repeat center center;
	}









